<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">

        <ul class="social">
            {% if site.facebook %}<li><a href="{{ site.facebook }}"><svg class="icon icon-instagram"><use xlink:href="#icon-facebook"></use></svg></a></li>{% endif %}
            <!-- {% if site.twitter %}<li><a href="{{ site.twitter }}"><svg class="icon icon-instagram"><use xlink:href="#icon-twitter"></use></svg></a></li>{% endif %} -->
            {% if site.instagram %}<li><a href="{{ site.instagram }}"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>{% endif %}
            <!-- {% if site.youtube %}<li><a href="{{ site.youtube }}"><svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg></a></li>{% endif %} -->
        </ul>

        <small>{% if site.copyright %} {{ site.copyright }} {% endif %}</small>
        <small>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
        <small>Icons made by <a href="https://www.flaticon.com/authors/ddara" title="dDara">dDara</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
        <small>Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
    </div>
    <!-- Begin Constant Contact Active Forms -->
    <script> var _ctct_m = "e21f2b8b375667cb7752ae60b3cf5f71"; </script>
    <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
    <!-- End Constant Contact Active Forms -->
</footer>
<!-- End Footer -->
